.about-me-section {
  font-size: 22px;
}

.about-me-section h1 {
  font-size: 2em;
}

.about-me-section p {
  margin-bottom: 1em;
  max-width: 1000px; /* Set a maximum width */
  text-align: left; /* Align text to the left */
  margin-left: auto; /* These two lines center the paragraph block */
  margin-right: auto; /* within the .about-me-section */
}

.large-image {
  width: 1000px;
  display: block;
  margin: 0 auto;
}

.python-section,
.jay-section {
  display: flex;
  align-items: center;
  max-width: 1000px; /* Set a maximum width */
  margin-left: auto; /* These two lines center the paragraph block */
  margin-right: auto; /* within the .about-me-section */
}

.python-image,
.jay-image {
  width: 200px;
}

.after-work-section {
  margin-top: 20px;
}

.profile-picture-me {
  width: 150px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Circular image */
  margin-bottom: 20px;
}
